@using DataClass
@model List<Fruit>
@{
    ViewData["Title"] = "Home Page";
}
<h2>Fruits</h2>

<form>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Color</th>
            <th>Type</th>
            <th>ImageUrl</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fruit in Model)
        {
            <tr>
                <td>@fruit.Id</td>
                <td>@fruit.Name</td>
                <td>@fruit.Color</td>
                <td>@fruit.Type</td>
                <td>@fruit.ImageUrl</td>
            </tr>
        }
    </tbody>
</table>

<button type="submit" class="btn btn-primary">Submit</button>
</form>
